/* 
       i disable for mobile devices.
*/
* {
        margin: 0;
        padding: 0;
        overflow: hidden;   
  }
  body {
        color: white;
        font-family: 'Space Mono';
  }
.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
  .myporto {
        width: 100vw;
        height: 100vh;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
  }
  .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
  }
  .box-sizing {
        width: 500px;
        height: 210px;
        background-color: white;
        transition: 0.5s;
        animation-name: box-sizing;
        animation-duration: 12s;
  }
  .box-sizing:hover {
        color: white;
        width: 600px;
        border-radius: 17px;
  }
  .box-sizing h1 {
        color: black;
        font-size: 20px;
        font-weight: 400;
        white-space: pre-line;
        margin: 15px 20px auto;
  }
  .box-sizing p {
        color: white;
        font-size: 20px;
        font-weight: 600;
        white-space: pre-line;
        padding: 20px 20px;
        margin: 12px 0px auto;
        background-color: blue;
        text-decoration: none;
        cursor: pointer;
  }




.template {
        width: 100vw;
        height: 100vh;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
  }
  .container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
  }
    .box-template {
        width: 500px;
        height: 210px;
        background-color: #222;
        transition: 0.5s;
  }
    .box-template h4 {
        color: white;
        line-height: 1.5;
        margin: 22px 30px auto;
        white-space: pre-line;
  }
    .box-template p {
        color: white;
        line-height: 1.5;
        margin: 10px 30px auto;
        white-space: pre-line;
  }
  .box-template:hover {
        background-color: #333;
        color: blue;
  }
  button { 
        color: white;
        position: absolute;
        right: 77.3vh;
        padding: 5px 10px;
        background-color: transparent;
        border: none;
        transition: 0.5s;
  }
  button:hover {
        background-color: #888;
  }




.about {
        width: 100vw;
        height: 100vh;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
  }
  .container-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
  }
  .box-about {
        width: 500px;
        height: 210px;
        background-color: #222;
        transition: 0.5s;
  }
    .box-about h4 {
        color: white;
        line-height: 1.5;
        margin: 22px 30px auto;
        white-space: pre-line;
  }
    .box-about p {
        color: white;
        line-height: 1.5;
        margin: 10px 30px auto;
        white-space: pre-line;
  }
    .box-about:hover {
        background-color: #333;
        color: blue;
  }




  .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        background-color: transparent;
        text-align: center;
  }
  .footer p {
        color: #aaa;
        font-size: 10px;
        text-align: center;
        margin: 10px 20px auto;
        cursor: default;
  }


@-webkit-keyframes box-sizing { 
  from { opacity:0 } 
  to { opacity:1 }
}
@keyframes box-sizing { 
  from { opacity:0 } 
  to { opacity:1 }
}




/* Disable Mobile Devices */
@media only screen and (max-device-width: 780px) {
        .myporto {  
                display: none;
        }
        .container {  
                display: none;
        }
        .template {
                display: none;
        }
        .about {
                display: none;
        }
        .topnav {
                display: none;
        }
        .disableMobile {
                width: 100vw;
                height: 100vh;
                background: #222;
                background-attachment: fixed;
        }
        .container-4 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
        }
        .noticeBox {
                margin-top: 0px;
        }
        .noticeBox h1 {
                color: #eee;
                font-family: 'Space Mono';
                font-size: 18px;
                font-weight: 400;
                line-height: 2;
        }
        .noticeBox p {
                color: #aaa;
                font-family: 'Space Mono';
                font-size: 12px;
                font-weight: 400;
                white-space: pre-line;
        }
        .noticeBox a {
                color: #ccc;
        }
        .noticeBox a:hover {
                background: silver;
                color: #333;
                cursor: pointer;
        }
        .footer {
                display: none;
        }
}

@media only screen and (max-device-width: 768px) {
        .myporto {  
                display: none;
        }
        .container {  
                display: none;
        }
        .template {
                display: none;
        }
        .about {
                display: none;
        }
        .topnav {
                display: none;
        }
        .disableMobile {
                width: 100vw;
                height: 100vh;
                background: #222;
                background-attachment: fixed;
        }
        .container-4 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
        }
        .noticeBox {
                margin-top: 0px;
        }
        .noticeBox h1 {
                color: #eee;
                font-family: 'Space Mono';
                font-size: 18px;
                font-weight: 400;
                line-height: 2;
        }
        .noticeBox p {
                color: #aaa;
                font-family: 'Space Mono';
                font-size: 12px;
                font-weight: 400;
                white-space: pre-line;
        }
        .noticeBox a {
                color: #ccc;
        }
        .noticeBox a:hover {
                background: silver;
                color: #333;
                cursor: pointer;
        }
        .footer {
                display: none;
        }
}
